@font-face {
    font-family: 'BigBlueTermPlus Nerd Font';
    src: url('fonts/BigBlueTermPlusNerdFont-Regular.ttf') format('truetype');
}

body {
    background-color: blue;
}
.main-container {
    border: 5px ridge #ffffff;
    max-width: 1000px;
    margin: 300px auto;
    margin-bottom: 0;
    padding: 5px;
    padding-bottom: 0px;
    color: #ffffff;
}

.part {
    border: 5px ridge #ffffff;
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
    color: #ffffff;
    text-align: center;
}

#header-text {
    font-family: bahnschrift;
    font-size: 150px;
}

#header-text p {
    margin: 0px;
}

.base-container {
    display: flex;
    gap: 5px;
}

.split-container {
    display: flex;
    gap: 5px;
    padding: 10px;
    padding-left: 30px;
}

#Question {
    font-family: 'BigBlueTermPlus Nerd Font';
}

#biography {
    flex: 2;
    font-family: "Comic Sans MS";
    font-size: 25px;
    text-align: left;
}

#links {
    flex: 1;
    font-size: 25px;
    text-align: left;
}

.logo {
    height: 20px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.header ul {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}

.header li {
    float: left;
    border: 5px ridge white;
    border-bottom: none;
    margin-right: 5px;
}

.header p {
    margin: 10px; 
    font-family: 'BigBlueTermPlus Nerd Font'; 
}

.header li a {
    color: inherit;
}

.disabled {
    font-weight: bold;
    background-color: white;
    color: blue;
    pointer-events: none;
}

.button:hover {
    background-color: white;
    cursor: pointer;
    color: blue;
}

#tracks {
    height: 300px;
    overflow-y: auto;
}

@media (max-width: 768px) {
        
    .main-container {
        margin: 10px auto;
        padding: 8px;
    }

    .base-container {
        flex-direction: column; /* колонки становятся вертикальными */
    }

    .split-container {
        padding-left: 10px;
    }

    #Question h1 {
        font-size: 24px;
    }

    #header-text {
        font-size: 65px;
    }
}